tags:
  - name: Auth
    description: API for authorization
paths:
  /api/auth/login:
    post:
      summary: Try login user to the system
      tags: [ Auth ]
      security: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginInputModel'
      responses:
        200:
          description: Returns JWT-token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        400:
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        401:
          description: Unauthorized
  /api/auth/registration:
    post:
      summary: "Registration in the system. Email with confirmation code will be send to passed email address"
      tags: [ Auth ]
      security: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserInputModel'
      responses:
        204:
          description: "Input data is accepted. Email with confirmation code will be send to passed email address. Confirmation code should be inside link as query param, for example: https://some-front.com/confirm-registration?code=youtcodehere"
        400:
          description: "If the inputModel has incorrect values (in particular if the user with the given email or login already exists)"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
  /api/auth/registration-email-resending:
    post:
      summary: Resend email with confirmation code
      tags: [ Auth ]
      security: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  description: User email
                  example: "test@test.com"
        responses:
            204:
                description: "Input data is accepted. Email with confirmation code will be send to passed email address. Confirmation code should be inside link as query param, for example: https://some-front.com/confirm-registration?code=youtcodehere"
            400:
                description: "If the inputModel has incorrect values or if email is already confirmed"
                content:
                application/json:
                    schema:
                    $ref: '#/components/schemas/ValidationErrorResponse'
  /api/auth/registration-confirmation:
    post:
      summary: Confirm registration
      tags: [ Auth ]
      security: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - code
              properties:
                code:
                  type: string
                  description: Confirmation code sent to email
                  example: "123456"
      responses:
        204:
          description: Email was verified. Account was activated
        400:
          description: If the confirmation code is incorrect, expired or already been applied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
  /api/auth/me:
    get:
      summary: Get information about current user
      tags: [ Auth ]
      security:
        - bearerAuth: [ ]
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeViewModel'
        401:
          description: Unauthorized
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Enter JWT Bearer token"
  schemas:
    UserInputModel:
      type: object
      required:
        - login
        - password
        - email
      properties:
        login:
          type: string
          description: User login
          example: "john_doe"
        password:
          type: string
          description: User password
          example: "password123"
        email:
          type: string
          description: User email
          example: "test@test.com"
    LoginInputModel:
      type: object
      required:
        - loginOrEmail
        - password
      properties:
        loginOrEmail:
          type: string
          description: User login or email
          example: "john_doe"
        password:
          type: string
          description: User password
          example: "password123"
    MeViewModel:
      type: object
      required:
        - email
        - login
        - userId
      properties:
        email:
          type: string
        login:
          type: string
        userId:
          type: string
    TokenResponse:
      type: object
      required:
        - accessToken
      properties:
        accessToken:
          type: string
          description: JWT access token
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
    ValidationError:
      type: object
      properties:
        field:
          type: string
          example: "name"
        message:
          type: string
          example: "Invalid name"
    ValidationErrorResponse:
      type: object
      properties:
        errorsMessages:
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'