tags:
  - name: Auth
    description: API for authorization
paths:
  /api/auth/login:
    post:
      summary: Try login user to the system
      tags: [ Auth ]
      security: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginInputModel'
      responses:
        200:
          description: Returns JWT-token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        400:
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        401:
          description: Unauthorized
  /api/auth/me:
    get:
      summary: Get information about current user
      tags: [ Auth ]
      security:
        - bearerAuth: [ ]
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeViewModel'
        401:
          description: Unauthorized
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Enter JWT Bearer token"
  schemas:
    LoginInputModel:
      type: object
      required:
        - loginOrEmail
        - password
      properties:
        loginOrEmail:
          type: string
          description: User login or email
          example: "john_doe"
        password:
          type: string
          description: User password
          example: "password123"
    MeViewModel:
      type: object
      required:
        - email
        - login
        - userId
      properties:
        email:
          type: string
        login:
          type: string
        userId:
          type: string
    TokenResponse:
      type: object
      required:
        - accessToken
      properties:
        accessToken:
          type: string
          description: JWT access token
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
    ValidationError:
      type: object
      properties:
        field:
          type: string
          example: "name"
        message:
          type: string
          example: "Invalid name"
    ValidationErrorResponse:
      type: object
      properties:
        errorsMessages:
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'